<html>
<head>
    <title>Error</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>



</head>

<!--<div class="g-signin2" data-onsuccess="onSignIn">as</div>-->
<body>
<h1>Error</h1>
</body>
<script>
    function onClickLogin(){
        window.location.href = '/auth/google';

    }
</script>
</html>
